* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.background {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Perfume {
  display: grid;
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 10px;
  letter-spacing: 3px;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 15px;
  line-height: 1;
}
p {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 1.6;
}

.price-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}
.current-price {
  font-size: 20px;
  font-weight: bold;
  font-family: "Fraunces", serif;
  color: hsl(158, 43%, 34%);
  display: grid;
  flex-wrap: wrap;
}
.original-price {
  display: grid;
  flex-wrap: wrap;
}
.button {
  cursor: pointer;
  display: flex;
  gap: 5.5px;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 8px;
  padding: 4px 40px;
  background-color: hsl(158, 43%, 34%);
  color: white;
  font-weight: bold;
  font-size: 10px;
}
.button:hover {
  background-color: hsl(157, 70%, 13%);
}
.cart {
  height: 50%px;
  width: 20px;
  padding: 3px;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: wrap;
  width: 1px;
}

h1 {
  font-family: "Fraunces", serif;
  padding-bottom: 10px;
  padding-top: 15px;
  line-height: 1;
}
p {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .image {
    /* Ändra bildkällan till den mobila versionen */
    content: url("./images/image-product-mobile.jpg");
    /* Uppdatera storleken om det behövs */
    width: 280px;
    height: 200px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .container {
    flex-direction: column;
    /* Ändra layouten för mobila enheter */
  }
  .information {
    width: 100%; /* Anpassa bredden för mobila enheter */
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 300px;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  h1 {
    width: 100%;
    padding-top: 0;
  }
  .Perfume {
    display: grid;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 10px;
    letter-spacing: 4px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    width: 250px;
    height: 300px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .button {
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    padding: 4px 80px;
    background-color: hsl(158, 43%, 34%);
    color: white;
    font-weight: bold;
  }
  .button:hover {
    background-color: hsl(157, 70%, 13%);
  }
  .cart {
    height: 20px;
    width: 20px;
    padding: 3px;
  }

  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: wrap;
    width: 1px;
  }
  p {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1.4;
  }
}
@media (min-width: 768px) {
  .image {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .information {
    background-color: white;
    width: 200px;
    height: 300px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  section {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    width: 200px;
    height: 300px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
